body{
    font-family: Lato;
  }
  header{
      background: url(../img/house-fon.jpg);
      background-position: center center;
     background-repeat:no-repeat ;
      height: 453px;
      min-width: 1440px;
      margin:-15px;
     
  }

img{
    height : 158px;
}
.menu{
  margin-left:250px;
  width:1440px;
  margin :0px auto;
}
.img-blue-1{
  margin-left:-146px;
  opacity: 0;
}
.img-blue-2{
  margin-left:-133px;
  opacity: 0;
}
.img-blue-3{
  margin-left:-223px;
  opacity: 0;
}
.img-blue-1:hover,.img-blue-2:hover,.img-blue-3:hover{
  opacity:1;
  transform-origin: all;
  transition-duration: 0.5s;
}
.proect-text {
  cursor:pointer;
  display:block;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 20px;
}
.pr-1{
  margin-left:20px;
}
.pr-2{
  margin-left:30px;
}
.pr-3{
  margin-left:50px;
}
.proect-text:hover{
  color:#0F1B8D;
  transform-origin: all;
  transition-duration: 0.5s;
}
.history{
    font-style: normal;
    font-weight: 800;
    font-size: 69px;
    line-height: 83px;
    width:70%;
    padding-top: 50px ;
    padding-bottom: 5px;
    border-bottom: 3px solid #FFFFFF;
    color: #FFFFFF;
    }
    /*основной текст*/
    .for-proect{
        margin-top:150px;
        margin-left: 50px;
font-style: normal;
font-weight: 800;
font-size: 55px;

    }
    .sect{
        margin:0px auto;
        margin-top:130px;
        margin-left:-120px;
        padding-top:80px;
      font-style: normal;
      font-weight: 300;
      font-size: 45px;
      line-height: 54px;
      text-align: center;
      width: 80%;
      color: #0F1B8D;
      background: rgba(144, 207, 158, 0.5);
      width:1140px;
      }
p{
    text-align: left;
}
.istochnik{
    font-family: Lato;
    margin-left:-50px;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
color: #012F03; 
}
.istochnik-div{
    margin:0px auto;
    margin-top:80px;
    margin-left:-120px;
    padding-top:80px;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  width: 80%;
  color: #0F1B8D;
  background: rgba(144, 207, 158, 0.5);
  width:1140px;
 min-height: 1000px;
}

  .mini-icon{
    margin-left:40px;
    height:60px;
    padding-left:0px;
  }
  .inst-icon{
    margin-top:10px;
  }
.link{
  text-align: left;
  margin-left:0px;
}
.people{
margin-left: 40px;
}
.inst,.vk{
  margin-left:20px;
  margin-top:10px;
  text-decoration: none;
  font-style: normal;
font-weight: normal;
font-size: 35px;

}
.vk{
  color: #19316D;
}
.inst{
  color: #740755;
}
.container{
  padding-left:0px;
}
footer{
  margin-top:50px;
  height: 137px;
  background: #6FBA17;
  max-width:1920px;
  margin:0 auto;
}
.foot{
  margin-top: 50px;
  margin-left: -15px;
}
@media(min-width:992px) and (max-width:1440px){
.sect, .istochnik-div{
  margin-left:-10px;
}
.sect,header,.menu,.istochnik-div,.foot{
  min-width: 992px;
  width: 992px;
}
.history{
  font-size: 55px;
  margin-top: 60px;
}
.for-proect{
  margin-top : 60px;
  font-size: 50px;
}
.people,.link,.sect p{
  font-size:40px;
}
.istochnik,header{
  margin-left:50px;
}
}
@media(min-width:768px) and (max-width:992px){
header img{
  height:110px;
  margin:0px;
 
}

.people,.link,.sect p{
  font-size:40px;
  margin-left:100px;
}
.for-proect{
  margin-top:80px;
  font-size:50px;
}
.istochnik{
  margin-left: 30px;
}
.sect,header,.menu,.istochnik-div,.foot, body .container-fluid, body,html{
  min-width: 768px;
  width: 768px;
}
html{
  margin: 0px!important;
  padding: 0px!important;
  box-sizing: border-box;
}
.foot{
  margin-left:-15px;
}
}

@media(min-width:576px) and (max-width:768px){
  header img{
    display: inline-block;
    height:100px;
    margin:20px;
   
  }
  .sect,header,.menu,.istochnik-div,.foot, body .container-fluid, body,html{
    min-width: 576px;
    width: 576px;
  }
  .history{
    font-size: 45px;
    margin-top: 60px;
  }
  .for-proect{
    margin-top : 40px;
    font-size: 40px;
  }
  .people,.link,.sect p{
    font-size:30px;
    margin-left:100px;
  }
  .istochnik{
    margin-left:40px;
  }
  .img-blue-1:hover,.img-blue-2:hover,.img-blue-3:hover{
    opacity: 0;
  }
  .img-blue-1,.img-blue-2,.img-blue-3{
    z-index: -20;
  }
  .foot{
    margin-left:-15px;
  }
}
  @media(max-width:576px){
    
    header img{
      height:80px;
      margin:0px;
     
    }
    .proect{
      margin :0px;
    }
    .menu-centr{
      margin-left:180px;
      
        
    }
    #proect2{
      margin-top:900px;
      margin-left : 120px;
    }
      .sect,header,.menu,.istochnik-div,.foot, body .container-fluid, body,html{
      min-width: auto;
      width: auto;
    }
    .history{
      font-size: 40px;
      margin-top: 60px;
    }
    .for-proect{
      margin-top : 35px;
      font-size: 40px;
    }
    .people,.link,.sect p{
      font-size:25px;
      margin-left:120px;
    }
    .istochnik{
      margin-left:40px;
    }
    .proect-text{
      font-size: 20px;
      margin-left:5px;
    }
    .img-blue-1:hover,.img-blue-2:hover,.img-blue-3:hover{
      opacity: 0;
    }
    .img-blue-1,.img-blue-2,.img-blue-3{
      z-index: -20;
    }
    }